[submodule "3rdparty/tinyexpr"]
	path = 3rdparty/tinyexpr
	url = https://github.com/codeplea/tinyexpr.git
[submodule "3rdparty/eigen"]
	path = 3rdparty/eigen
	url = git@github.com:eigenteam/eigen-git-mirror.git
