[submodule "3rdparty/OffscreenRenderer"]
	path = 3rdparty/OffscreenRenderer
	url = https://github.com/MeshFEM/OffscreenRenderer
[submodule "3rdparty/RotationOptimization"]
	path = 3rdparty/RotationOptimization
	url = https://github.com/EPFL-LGG/RotationOptimization
[submodule "3rdparty/catamari_dev"]
	path = 3rdparty/catamari
	url = git@github.com:MeshFEM/catamari_dev
